* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_4978 {
  width: 100%;
  height: 3563px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_4980 {
  width: 100%;
  height: 3357px;
  background: url("../images/v1_4980.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 480px;
  opacity: 0.05000000074505806;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_4986 {
  width: 100%;
  height: 107px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_4987 {
  width: 100%;
  height: 25px;
  background: url("../images/v1_4987.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 104px;
  overflow: hidden;
}
.v1_4988 {
  width: 25px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v1_4989 {
  width: 102px;
  height: 24px;
  background: url("../images/v1_4989.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1134px;
  overflow: hidden;
}
.v1_4990 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_4992 {
  width: 470px;
  height: 15px;
  background: url("../images/v1_4992.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 110px;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 412px;
  overflow: hidden;
}
.v1_4993 {
  width: 37px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_4994 {
  width: 113px;
  color: rgba(130,29,210,1);
  position: absolute;
  top: 0px;
  left: 147px;
  font-family: Manrope;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_4995 {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 370px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_4996 {
  width: 100%;
  height: 522px;
  background: url("../images/v1_4996.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 29px;
  opacity: 1;
  position: absolute;
  top: 1835px;
  left: 102px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_5003 {
  width: 100%;
  height: 522px;
  background: url("../images/v1_5003.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 29px;
  opacity: 1;
  position: absolute;
  top: 1835px;
  left: 102px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_5010 {
  width: 100%;
  height: 849px;
  background: url("../images/v1_5010.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 900px;
  left: 102px;
  overflow: hidden;
}
.v1_5011 {
  width: 608px;
  height: 849px;
  background: rgba(255,255,255,1);
  padding: 10px 10px;
  margin: 24px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_5012 {
  width: 588px;
  height: 761px;
  background: url("../images/v1_5012.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v1_5013 {
  width: 588px;
  height: 44px;
  background: url("../images/v1_5013.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 795px;
  left: 10px;
  overflow: hidden;
}
.v1_5014 {
  width: 169px;
  height: 44px;
  background: url("../images/v1_5014.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_5015 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Vollkorn;
  font-weight: SemiBold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v1_5016 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_5017 {
  width: 66px;
  height: 26px;
  background: url("../images/v1_5017.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 522px;
  overflow: hidden;
}
.v1_5018 {
  width: 66px;
  height: 26px;
  background: url("../images/v1_5018.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 5px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v1_5019 {
  width: 46px;
  color: rgba(86,86,86,1);
  position: absolute;
  top: 8px;
  left: 10px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_5020 {
  width: 608px;
  height: 849px;
  background: rgba(255,255,255,1);
  padding: 10px 10px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 648px;
  overflow: hidden;
}
.v1_5021 {
  width: 588px;
  height: 761px;
  background: url("../images/v1_5021.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v1_5022 {
  width: 588px;
  height: 44px;
  background: url("../images/v1_5022.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 795px;
  left: 10px;
  overflow: hidden;
}
.v1_5023 {
  width: 169px;
  height: 44px;
  background: url("../images/v1_5023.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_5024 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Vollkorn;
  font-weight: SemiBold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v1_5025 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_5027 {
  width: 100%;
  height: 849px;
  background: url("../images/v1_5027.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 2500px;
  left: 104px;
  overflow: hidden;
}
.v1_5028 {
  width: 608px;
  height: 849px;
  background: url("../images/v1_5028.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 43px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_5029 {
  width: 588px;
  height: 393px;
  background: url("../images/v1_5029.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v1_5030 {
  width: 588px;
  height: 325px;
  background: url("../images/v1_5030.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_5031 {
  width: 588px;
  height: 44px;
  background: url("../images/v1_5031.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 349px;
  left: 0px;
  overflow: hidden;
}
.v1_5032 {
  width: 169px;
  height: 44px;
  background: url("../images/v1_5032.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_5033 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Vollkorn;
  font-weight: SemiBold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v1_5034 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_5035 {
  width: 66px;
  height: 26px;
  background: url("../images/v1_5035.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 522px;
  overflow: hidden;
}
.v1_5036 {
  width: 66px;
  height: 26px;
  background: url("../images/v1_5036.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 5px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v1_5037 {
  width: 46px;
  color: rgba(86,86,86,1);
  position: absolute;
  top: 8px;
  left: 10px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_5038 {
  width: 588px;
  height: 393px;
  background: url("../images/v1_5038.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 446px;
  left: 10px;
  overflow: hidden;
}
.v1_5039 {
  width: 588px;
  height: 325px;
  background: url("../images/v1_5039.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_5040 {
  width: 588px;
  height: 44px;
  background: url("../images/v1_5040.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 349px;
  left: 0px;
  overflow: hidden;
}
.v1_5041 {
  width: 169px;
  height: 44px;
  background: url("../images/v1_5041.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_5042 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Vollkorn;
  font-weight: SemiBold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v1_5043 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_5044 {
  width: 66px;
  height: 26px;
  background: url("../images/v1_5044.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 522px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_5046 {
  width: 608px;
  height: 849px;
  background: url("../images/v1_5046.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 628px;
  overflow: hidden;
}
.v1_5047 {
  width: 588px;
  height: 761px;
  background: url("../images/v1_5047.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v1_5048 {
  width: 588px;
  height: 44px;
  background: url("../images/v1_5048.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 795px;
  left: 10px;
  overflow: hidden;
}
.v1_5049 {
  width: 169px;
  height: 44px;
  background: url("../images/v1_5049.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_5050 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Vollkorn;
  font-weight: SemiBold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v1_5051 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_5052 {
  width: 66px;
  height: 26px;
  background: url("../images/v1_5052.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 522px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_5054 {
  width: 100%;
  height: 91px;
  background: url("../images/v1_5054.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 3472px;
  left: 0px;
  overflow: hidden;
}
.v1_5055 {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 39px;
  left: 629px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_5056 {
  width: 100%;
  height: 91px;
  background: url("../images/v1_5056.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 3472px;
  left: 0px;
  overflow: hidden;
}
.v1_5057 {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 39px;
  left: 629px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_5058 {
  width: 523px;
  height: 26px;
  background: url("../images/v1_5058.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 28px;
  opacity: 1;
  position: absolute;
  top: 792px;
  left: 344px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_5064 {
  width: 100%;
  height: 284px;
  background: url("../images/v1_5064.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 126px;
  opacity: 1;
  position: absolute;
  top: 271px;
  left: 102px;
  overflow: hidden;
}
.v1_5065 {
  width: 640px;
  height: 284px;
  background: url("../images/v1_5065.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_5066 {
  width: 640px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Vollkorn;
  font-weight: Regular;
  font-size: 147px;
  opacity: 1;
  text-align: left;
}
.v1_5067 {
  width: 203px;
  height: 25px;
  background: url("../images/v1_5067.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_5069 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 55px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_5070 {
  width: 486px;
  height: 215px;
  background: url("../images/v1_5070.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 766px;
  overflow: hidden;
}
.v1_5071 {
  width: 486px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_5074 {
  width: 23px;
  height: 186px;
  background: url("../images/v1_5074.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 580px;
  left: 75px;
  overflow: hidden;
}
.v1_5075 {
  width: 23px;
  height: 103px;
  background: url("../images/v1_5075.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_5076 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  transform: rotate(-90deg);
}
.v1_5077 {
  width: 13px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 59px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  transform: rotate(-90deg);
}
.v1_5078 {
  width: 20px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 103px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  transform: rotate(-90deg);
}
.v1_5079 {
  width: 51px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 186px;
  left: 0px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  transform: rotate(-90deg);
}
.v1_5080 {
  width: 100%;
  height: 93px;
  background: url("../images/v1_5080.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 720px;
  left: 1px;
  overflow: hidden;
}
.v1_5081 {
  width: 766px;
  height: 93px;
  background: url("../images/v1_5081.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 192px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_5083 {
  width: 143px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 78px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
